<!DOCTYPE html>
<h1>Links</h1>
<ul id='links'>
<% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    Tags: <%= link.tags.map(&:tag).join(' ') %>
  </li>
  <% end %>
</ul>
<form action="/tags" method="get">
    <label for="filter">Filter</label>
    <input type="text" name="filter" multiple/>
    <input type="submit" value="Filter">
</form>
